body{
    background-color: rgb(222, 219, 222);
    margin: 1%;
}
.hi{
display: flex;
}
.nosotros{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.nosotros img {
    display: flex;
    border-radius: 20px;
    align-items: center;
}
h1{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
}
h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 270%;
}
p{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}